
.menurightcontanier{
    font-family: yekan;
    direction:rtl ;
    margin: 10px !important;
    background-color: #e6e6e6;
    padding: 30px 0 50px 0;
    border-radius: 15px;
    box-shadow: 2px 2px 2px #5d5d5d;
    width: 30%;

}
.customDropdown {
    position: relative;
    display: inline-block;
    cursor:pointer;
}

.customDropdown select {
    padding: 10px 15px; /* Adjust padding if necessary to center the text */
    border: 2px solid rgb(255, 136, 0);
    background-color: transparent; /* Use transparent for no color */
    color: #000000;
    font-size: 16px;
    cursor: pointer;
    -webkit-appearance: none;  /* Removes default Chrome and Safari style */
    -moz-appearance: none;     /* Removes default Firefox style */
    appearance: none;          /* Removes default style in modern browsers */
    height: 100%; /* Optional, adjust based on your design needs */
    text-align-last: center; /* Centers the text for dropdown */
    direction: rtl; /* Since you're using RTL */
    padding: 10px;
    border-radius: 15px;
    background-color: white;
}

.customDropdown::after {
    
    font-size: 12px;
    color: #000000;
    position: absolute;
    /* right: 10px; */
    top: calc(50% - 6px);
    pointer-events: none;
}

.customDropdown select:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(81, 204, 238, 0); /* Adjust visibility of shadow on focus */
}

.list{
    list-style: none;
    margin:30px 0 0 30px;
}
.list li{
    margin : 20px 0 0 0;
    padding: 5px 20px 5px 20px;
    color: rgb(0, 0, 0);
    border-radius: 15px;
    transition-duration: 0.5s;
    background-color: rgb(127, 172, 255);
    font-size: 20px;
}
.list li:hover{
    color: black;
    background-color: #5d5d5d;
}

.majorcontainer{
    display: flex;
    width: 100%;
}
.list li button{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 20px;
}
.list li{
    font-size: 1.2vw;
}