.mainContainer{
        background-color: #D2AF6F;
        text-align: center;
        margin-top: auto;
        padding: 8px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center
}
@media (max-width: 600px) {
   .mainContainer{
    text-align: center;
        margin-top: auto;
        padding: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 10px;
   }
   .mainContainer img{
    width: 15vw;
   }
}
