.userTable {
    border-collapse: collapse;
    width: 100%;
  }
  
  .userTable th,
  .userTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .userTable th {
    background-color: #f2f2f2;
  }
  
  .userTable tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .userTable tr:hover {
    background-color: #ddd;
  }