 /* {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.calendar-nav{
  display: flex;
  flex-direction: row;
  column-gap: 2vw;
  margin: 2vw;
  justify-content: center;
  align-items: center;
}
.calendar-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.calendar-table {
  border-collapse: collapse;
  position: relative;
 
}

.calendar-table th,
.calendar-table td {
  border: 1px solid #ccc;
  width: 40px; /* Adjust as needed */
  height: 40px; /* Adjust as needed */
  text-align: center;
}

/* Styling for the squares */
.calendar-square {
  width: 90%;
  height: 90%;
  margin: 5%;
  background-color: #ccc; /* Default color */
}
.formdetails{
  display: flex;
  flex-direction: column;
  direction: rtl;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}
.formdetails-first-one{
  display: flex;
  flex-direction: row;
  direction: rtl;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
}
.calendar-table thead th {
  /* Your existing styles for table header cells */
  position: sticky;
  top: 0;
  background-color: aqua;
  z-index: 1; /* Ensure the header is above other elements */
}